
/*arentus*/
* {
  box-sizing: border-box

}

ul, li, body, html {
  margin: 0;
  padding: 0;
}

/*BACKGROUND GRADIENT COLOR */
body {
  /*background-image: linear-gradient(#FFBB3F, #002664);*/
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  overflow-x: hidden;
}

ul, li {
  list-style: none;
}

/* Styles */
header {
  width: 100vw;
  background: #fafafa;
}

/* Make both navs full width and flex, with some spacing off parent */
#top-nav, #bottom-nav {
  width: 100vw;
  display: flex;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Separate both nav chidren to each side of the container with justify-content */
#top-nav {
  justify-content: space-between;
  background: #FFBB3F;
  overflow: hidden;
}

.nav-link{
  padding-left: 0px;
}
.nav-item{
  padding-left: 0px !important;
}
.jumbotron {
  width: 100vw;
  height: 154px;
  justify-content: center;
  display: block;
  margin-bottom: 0;
}

#mastheadWrapper {
  background-color: #D3D3D3;
  position: sticky;
}

/* Bottom Nav, in example is just one section of links, you can expiriment with justify-content based on how many links you have and the width of any container you may need. This example was full-wdith. */
#bottom-nav {
  justify-content: space-between;
  background: #002664;
  border-bottom: 4px solid #FFBB3F;
  border-top: 4px solid #FFBB3F;
  width: 100vw;
  display: flex;
  padding: 10px 5px;
}

#bottom-nav a {
  margin: 0 5px;
  /* you can adjust spacing with margins if you want */
  color: #FFBB3F;
  text-decoration: none;
}

nav.navbar {
  width: 100%;
}

.navbar.navbar-expand-lg.class {
  display: flex;
  justify-content: space-around;
}

#navbarNav {
  padding: 0;
}
#navbarNav .nav-list {
  justify-content: center;
}
#navbarNav .nav-list li {
  padding: 0 22px 0 11px;
}
#navbarNav .nav-list li ul li {
  padding: 0;
}
#navbarNav .nav-list li:first-of-type {
  padding-left: 0;
}
#navbarNav .nav-list li > a {
  color: #06121b;
  font-family: 'Fjalla One';
  text-transform: uppercase;
  font-size: 1.025em;
  letter-spacing: 0.05em;
  padding: 0;
}

#navbarNav .nav-list li:focus > a, #navbarNav .nav-list li:hover > a, #navbarNav .nav-list li.active > a {
  color: #ef832f;
  text-decoration: none;
}

#navbarNav .dropdown-menu {
  padding: 15px 20px;
  margin-top: 0;
  border-radius: 0;
  border-top: 3px solid #2d2f30; }
  #navbarNav .dropdown-menu li {
    padding: 6px 0; }
    #navbarNav .dropdown-menu li.sub-nav-header {
      color: #ef832f;
      font-family: "Fjalla One";
      text-transform: uppercase; }
  #navbarNav .dropdown-menu li a {
    color: #fcc04d;
    font-weight: 600;
    font-family: "Noto Sans";
    font-size: .9em;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1.18em; }

.nav-toggler-title {
  color: #06121b;
  text-transform: uppercase;
  font-family: "Fjalla One";
  margin-top: 5px;
  display: inline-block;
  padding-right: 4px; }

.dropdown-toggle .dropdown-menu {
  display: none;
  min-width: 20em; }
  .dropdown-toggle .dropdown-menu.dropdown-menu-lg {
    min-width: 680px;
    width: 100%; }

.dropdown-toggle:hover .dropdown-menu {
  display: block; }

.navbar .nav-item {
  padding: 0 10px;
  position: relative; }
.navbar .dropdown-toggle::after {
  top: 50%;
  right: 8px;
  position: absolute;
  margin: 0; }

  .wrap-for-mobile-menu {
    left: -100%;
    width: 100%; }
    .wrap-for-mobile-menu.show {
      position: absolute;
      background: white;
      height: 100%;
      top: 0;
      left: 0;
      padding: 25px;
      width: 70%;
      z-index: 9999; }
      .wrap-for-mobile-menu.show ul.nav-list.nav {
        flex-direction: column; }

  #navbarMobileNav {
    padding: 0; }
    #navbarMobileNav .nav-link {
      display: inline-block; }
    #navbarMobileNav .dropdown-menu {
      padding: 0;
      margin-top: 0;
      border-radius: 0;
      border-top: 3px solid #2d2f30;
      border-left: 0;
      border-right: 0;
      border-bottom: 0; }
      #navbarMobileNav .dropdown-menu li {
        padding: 10px 5px !important; }
        #navbarMobileNav .dropdown-menu li.sub-nav-header {
          color: #ef832f;
          font-family: "Fjalla One";
          text-transform: uppercase;
          font-size: 1.25em; }
      #navbarMobileNav .dropdown-menu li a {
        color: #fcc04d;
        font-weight: 600;
        font-family: "Noto Sans";
        font-size: 1.25em !important;
        text-transform: uppercase;
        display: inline-block;
        line-height: 1.18em; }
    #navbarMobileNav .nav-list li {
      padding: 15px 5px; }
      #navbarMobileNav .nav-list li > a {
        color: #06121b;
        font-family: 'Fjalla One';
        text-transform: uppercase;
        font-size: 1.5em;
        letter-spacing: 0.05em;
        padding: 0;
        text-align: center; }
      #navbarMobileNav .nav-list li:focus > a, #navbarMobileNav .nav-list li:hover > a, #navbarMobileNav .nav-list li.active > a {
        color: #ef832f;
        text-decoration: none; }
    #navbarMobileNav .dropdown-toggle .dropdown-menu {
      position: relative;
      width: 100%; }

  #navbarNav .dropdown-menu.dropdown-left {
    left: auto;
    right: 0; }

  .grey-call-out {
    background: #f0f3f5;
    border: 1px solid #dfdbdb;
    margin-top: 26px;
    padding: 10px 10px 20px;
    margin-bottom: 26px; }
    .grey-call-out .btn {
      width: 100%;
      max-width: 302px;
      padding: 8px 1px;
      letter-spacing: 0.1em; }
    .grey-call-out p {
      font-size: 1em;
      line-height: 2rem;
      letter-spacing: 0.02em;
      font-weight: 600;
      margin-bottom: 10px; }
      .grey-call-out p a {
        font-weight: bold; }

  .vip-program p {
    margin-top: 25px;
    font-size: 0.938em;
    color: #1b2b34;
    letter-spacing: 0.025em;
    line-height: 1.55rem; }

#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  height: 100%;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.slide1 {
  background-image: url("pics/purple_jerseys.jpg");
}
.slide2 {
  background-image: url("pics/soccer_boys.jpg");
}
.slide3 {
  background-image: url("pics/soccer girl.jpg");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-caption {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  top: 8px;
  right: 45px;
  left: 8px;
  text-shadow: 2px 2px 4px #000000;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}

.main-content-container {
  margin: 1.5em;
}

.footer {
  border: 2px solid #FFBB3F;
  background-color: white;
}

.card-container {
  margin-top: 1em;
  width: 100%;
}


 #white-footer-nav {
  background-color: white;
  justify-content: space-around;
  display: flex;
  border: 2px solid #FFBB3F;
  height: 5em;
  align-items: center;
 }

 #white-footer-nav a{
  text-decoration: none;
  color: #002664;
  font-weight: bold;
 }

 #blue-footer-nav {
  background-color: #002664;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  height: 7em;
  align-items: top;
  padding: 20px;
  width: 100vw;
 }


 #blue-footer-nav a{
  text-decoration: none;
  color: #FFBB3F;
 }

 /*cards*/

.card {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #FFBB3F;
  background: white;
  color: black;
  justify-content: center;
  margin: 1em;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
.card h1 {
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #002664;
  color: #FFBB3F;
  margin-top: 0px;
}

.ref-icon {
  height: 23px;
  color: #FFBB3F;
  margin-top: 4px;
}

.card p {
  width: 80%;
  padding-left: 10px;
}

.card img {
  margin: auto;
}

.card * {
  margin-top: 0;
}

.card-content {
  display: flex;
}
.socials {
  display: flex;
  justify-content: space-between;
  margin: 7px;
  padding: 7px;
  flex-wrap: wrap;
}

.donate-button {
  font-size: 20px;
  background-color: #002664;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.carousel-inner {
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.donate-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.fa fa-facebook-official:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.fa fa-facebook-official {
  color: #002664;
}


@media only screen and (max-width: 900px) {

  .jumbotron {
    background: url('pics/banner_sm.png');
    background-size: cover;
    background-position: center;
  }

}

@media only screen and (min-width: 899px) and (max-width: 1024px) {
  .jumbotron {
    background: url('pics/banner_med.png');
    background-size: cover;
    background-position: 0% 50%;
    height: 154px;
  }

}

@media only screen and (min-width: 1023px) and (max-width: 1500px) {
  .jumbotron {
    background: url('pics/banner_lg.png');
    background-size: cover;
    background-position: 0% 50%;
    height: 154px;

  }
}
  @media only screen and (min-width: 1499px) {
    .jumbotron {
      background: url('pics/wssl_banner_xl copy.png');
      background-size: cover;
      background-position: center center;
      height: 300px;
    }
  }
    @media screen and (min-width: 2600px) {
      .jumbotron {
        background-repeat: no-repeat;
        background-position: 0;
        height: 325px;
      }

      .card {
        width: auto;
      }
    }
